:root {
    --bulma-primary-h: 212deg;
    --bulma-primary-l: 57%;
    --bulma-link-h: 212deg;
    --bulma-link-l: 53%;
    --bulma-info-h: 211deg;
    --bulma-success-h: 143deg;
    --bulma-success-l: 56%;
    --bulma-danger-l: 66%;
    --bulma-scheme-h: 212;
  }